@font-face {
  font-family: "DB Helvethaica X";
  src: url("/font/dbhelvethaicax-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DB Helvethaica X";
  src: url("/font/dbhelvethaicaxmed-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DB Helvethaica X";
  src: url("/font/dbhelvethaicaxbd-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
